@(user: models.user.User, debug: Boolean)(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.basic(title = utils.Config.projectName, bodyClass = Some("dark")) {
  <div id="game-container"></div>

  @menubar()
  @modal()

  @instructions()
  @homeMenu(user)

  @if(debug) {
    <script src="@routes.Assets.versioned("lib/phaser/js/phaser-arcade-physics.js")"></script>
    <script src="@routes.Assets.versioned("lib/phaser/js/phaser-debug.js")"></script>
    <script src="@routes.Assets.versioned("lib/underscorejs/underscore.js").url"></script>
  } else {
    <script src="@routes.Assets.versioned("lib/phaser/js/phaser-arcade-physics.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/underscorejs/underscore-min.js").url"></script>
  }

  <!-- Require.js entrypoint -->
  <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.min.js")"></script>
}
