@(user: models.user.User)(implicit messages: Messages)
<div class="brawl-panel" id="splash-panel">
  <div>
    <p>Loading Puzzle Brawl...</p>
  </div>
</div>

<div class="brawl-panel off" id="connecting-panel">
  <div>
    <p>Connecting...</p>
  </div>
</div>

<div class="brawl-panel off" id="menu-panel">
  <div class="menu-container">
    <div>
      <ul>
        <li><div id="play-now"><a href="#normal">@Messages("index.play.now")</a></div></li>
        @if(user.roles.contains(models.user.Role.Admin)) {
          <li><a href="@controllers.admin.routes.AdminController.index()">Admin</a></li>
          <li><a href="#test">Tests</a></li>
        }
        <li><a href="#scenario">Scenarios</a></li>
        <li><a href="@routes.FeedbackController.feedbackForm()">@Messages("index.leave.feedback")</a></li>
        @if(user.profiles.isEmpty) {
          <li><a href="@controllers.auth.routes.AuthenticationController.signInForm()">@Messages("authentication.sign.in")</a></li>
          <li><a href="@controllers.auth.routes.RegistrationController.registrationForm()">@Messages("registration.title")</a></li>
        } else {
          <li><a href="@controllers.auth.routes.AuthenticationController.signOut">@Messages("profile.sign.out")</a></li>
          <li><a href="@routes.ProfileController.profile">@Messages("profile.view")</a></li>
        }
      </ul>
    </div>
  </div>
</div>

<div class="brawl-panel off" id="scenario-panel">
  <div class="menu-container">
    <h4>Scenarios</h4>
    <div>
      <ul>
      @for(scenario <- models.scenario.Scenario.all) {
        <li><a href="#@scenario._1">@scenario._2</a></li>
      }
      </ul>
    </div>
  </div>
</div>

<div class="brawl-panel off" id="test-panel">
  <div class="menu-container">
    <h4>Tests</h4>
    <div>
      <ul>
      @for(t <- models.test.brawl.BrawlTest.all) {
        <li><a href="#test-@t.testName">@t.testName</a></li>
      }
      </ul>
    </div>
  </div>
</div>

<div class="brawl-panel off" id="instructions-panel">
  <h4>How To Play</h4>
  <div>
    <ul>
      <li><p>Pairs of gems, called <strong>Active Gems</strong> appear at the top of your board and descend towards the bottom.</p></li>
      <li><p>You can move and rotate <strong>Active Gems</strong> to anywhere you'd like, using the arrow keys, or your mouse, touchscreen or gamepad.</p></li>
      <li><p>Try to set gems next to gems of the same color in any direction, forming <strong>Runs</strong>. Some gems that drop are round. These are <strong>Crash Gems</strong>.</p></li>
      <li><p>The goal is to combine <strong>Runs</strong> of like-colored gems with <strong>Crash Gems</strong> of the same color.</p></li>
      <li><p>When you crash <strong>Runs</strong> of gems, you get points, and drop <strong>Timer Gems</strong> on your targeted opponent.</p></li>
      <li><p>Every time you drop your <strong>Active Gems</strong>, the number on <strong>Timer Gems</strong> decreases, until they become normal gems.</p></li>
      <li><p>If you're facing more than one opponent, you can target any one of them using the number keys or by clicking or tapping their board.</p></li>
      <li><p>If gems fill your board, you lose. If you (or your teammate) are the last player standing, you win!</p></li>
    </ul>
  </div>
</div>

<div class="brawl-panel off" id="options-panel">
  <h4>Options</h4>
  <div>
  </div>
</div>
