@(user: models.user.User)(implicit messages: Messages)<div class="brawl-panel off" id="menu-panel">
  <div class="menu-container">
    <ul>
      <li><div id="play-now"><a href="#normal">@Messages("menu.play.now")</a></div></li>
      <li><a href="#instructions">@Messages("menu.instructions")</a></li>
      @if(user.roles.contains(models.user.Role.Admin)) {
      <li><a href="@controllers.admin.routes.AdminController.index()" target="_blank">Admin</a></li>
      <li><a href="#sandbox">Sandbox</a></li>
      <li><a href="#test">Tests</a></li>
      }
      <li><a href="#scenario">@Messages("menu.scenarios")</a></li>
      <li><a href="#feedback">@Messages("menu.leave.feedback")</a></li>
      <li><a href="#options">@Messages("menu.options")</a></li>
      <li><a href="#status">@Messages("menu.status")</a></li>
      <li><a href="#profile">@Messages("menu.profile")</a></li>
    </ul>
  </div>
</div>
