@(user: models.user.User)<div class="brawl-panel off" id="options-panel">
  <div class="container">
    <div class="options-container">
      <h5>Profile</h5>
      <div class="options-choice" data-key="username" data-value="change">Change Username</div>
    </div>

    <div class="options-container">
      <h5>Theme</h5>
      <div class="options-choice" data-key="theme" data-value="dark">Dark</div>
      <div class="options-choice" data-key="theme" data-value="light">Light</div>
    </div>
  </div>
</div>
