@()<div class="brawl-panel off" id="status-panel">
  <div class="container">
    <h4>Puzzle Brawl Status</h4>
    <div>
      <ul>
        <li>Local Server: <span id="status-local-server">Unknown</span></li>
        <li>Websocket: <span id="status-socket">Unknown</span></li>
        <li>Mouse: <span id="status-mouse">Unknown</span></li>
        <li>Touch: <span id="status-touch">Unknown</span></li>
        <li>Gamepad: <span id="status-gamepad">Unknown</span></li>
      </ul>
    </div>
  </div>
</div>
