#status-container {
  position: fixed;
  top: 0;
  height: 32px;
  width: 100%;
  background-color: #444444;
  min-width: 400px;
}

#status-scenario-container {
  float: left;
  width: 116px;
  #status-scenario {
    margin: 8px 0 0 8px;
  }
}

#status-connection {
  float: right;
  width: 24px;
  height: 24px;
  margin: 6px 8px 0 8px;
  background: url(../images/ui/lights.png) no-repeat;
  background-size: 72px 24px;
  background-position-x: -24px;
  &.connected {
    background-position-x: 0;
  }
  &.error {
    background-position-x: -48px;
  }
}

#status-latency-container {
  float: right;
  width: 76px;
  text-align: right;
  #status-latency {
    margin-top: 8px;
  }
}

#title {
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}

#title-text {
  cursor: pointer;
}
