@(user: models.user.User)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap(title = utils.Config.projectName, stylesheets = Seq(routes.Assets.versioned("stylesheets/static.min.css").url)) {
  <div id="feedback-content" class="container">
    @flash.get("error").map { msg => <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      @msg
    </div> }@flash.get("info").map { msg => <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      @msg
    </div> }@flash.get("success").map { msg => <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      @msg
    </div> }

    <h3 class="feedback-prompt">@Messages("feedback.prompt")</h3>
    <form method="post" action="@routes.FeedbackController.submitFeedback()">
      <textarea name="feedback" id="feedback-input"></textarea>
      <br>
      <input type="submit" id="feedback-submit" value="@Messages("feedback.submit")" />
    </form>
  </div>
}
