@(user: models.user.User)(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap(title = utils.Config.projectName, stylesheets = Seq(routes.Assets.versioned("stylesheets/static.min.css").url)) {
  <div id="index-content" class="container">
    @flash.get("error").map { msg => <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      @msg
    </div> }@flash.get("info").map { msg => <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      @msg
    </div> }@flash.get("success").map { msg => <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      @msg
    </div> }

    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>@Messages("index.welcome")</h1>
          <p>@Messages("index.about")</p>
          <p><a class="btn btn-primary btn-lg" href="@routes.BrawlController.play()" role="button">@Messages("index.play.now")</a></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        @instructions()
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Actions</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
              @if(user.roles.contains(models.user.Role.Admin)) {
                <li><a href="@controllers.admin.routes.AdminController.index()">Admin</a></li>
              }
              <li><a href="@routes.FeedbackController.feedbackForm()">@Messages("index.leave.feedback")</a></li>
              @if(user.profiles.isEmpty) {
                <li><a href="@controllers.auth.routes.AuthenticationController.signInForm()">@Messages("authentication.sign.in")</a></li>
                <li><a href="@controllers.auth.routes.RegistrationController.registrationForm()">@Messages("registration.title")</a></li>
              } else {
                <li><a href="@controllers.auth.routes.AuthenticationController.signOut">@Messages("profile.sign.out")</a></li>
                <li><a href="@routes.ProfileController.profile">@Messages("profile.view")</a></li>
              }
            </ul>
          </div>
        </div>
        <h4>Scenarios</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
            @for(scenario <- models.scenario.Scenario.all) {
              <li><a href="@routes.BrawlController.play()#@scenario._1">@scenario._2</a></li>
            }
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Tests</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
            @for(t <- models.test.brawl.BrawlTest.all) {
              <li><a href="@routes.BrawlController.play()#test-@t.testName">@t.testName</a></li>
            }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
}
