@(user: models.user.User)(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap(title = utils.Config.projectName, stylesheets = Seq(routes.Assets.versioned("stylesheets/static.min.css").url)) {
  @layout.menu(user)

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>@Messages("index.welcome")</h1>
          <p>@Messages("index.about")</p>
          <p><a class="btn btn-primary btn-lg" href="@routes.GameController.play()" role="button">@Messages("index.play.now")</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Scenarios</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
              @for(scenario <- models.scenario.Scenario.all) {
                <li><a href="@routes.GameController.play()#@scenario._1">@scenario._2</a></li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Tests</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
            @for(t <- models.test.brawl.Test.all) {
              <li><a href="@routes.GameController.play()#test@t.testName">@t.testName</a></li>
            }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
}
