@(user: models.user.User)(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap(title = utils.Config.projectName, stylesheets = Seq(routes.Assets.versioned("stylesheets/static.min.css").url)) {
  @layout.menu(user)

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>@Messages("index.welcome")</h1>
          <p>@Messages("index.about")</p>
          <p><a class="btn btn-primary btn-lg" href="@routes.GameController.play()" role="button">@Messages("index.play.now")</a></p>
        </div>
      </div>
    </div>
  </div>
}
