@()(implicit session: Session, flash: Flash)
@layout.admin(s"${utils.Config.projectName} Tests", "test") {
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text-large">Game Tests (<a href="@controllers.admin.routes.TestController.run("All")">Run All</a>)</div>
      <ul>
        @for(test <- models.game.test.GameTest.all) {
          <li><a href="@controllers.admin.routes.TestController.run(test.testName, false)">@test.testName</a></li>
        }
      </ul>
    </div>
  </div>
}
