@(results: Seq[controllers.admin.TestController.Result])(implicit session: Session, flash: Flash)
@layout.admin(s"${utils.Config.projectName} Tests", "test") {
  <div class="panel panel-default">
    <div class="panel-body">
      @defining(results.count(_.errors.nonEmpty)) { errorCount =>
      <div class="text-large">
        @if(errorCount == 0) {
          <span class="text-success glyphicon glyphicon-ok"></span>
        } else {
          <span class="text-danger glyphicon glyphicon-remove"></span>
        }
        All @utils.Config.projectName Tests
      </div>
      <div>Ran [@results.size] tests in [@{results.map(_.runMs).sum}ms] with [@errorCount] errors.</div>
      }
    </div>
  </div>

  @for(result <- results) {
    @testResult(result)
  }
}
